@use "config" as *;

.nav-container {
  position: fixed;
  background: $system-background-color;
  border-bottom: 5px double $system-accent-color;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 3px 3px 9px #ffffff25, -3px -3px 9px #ffffff25;

  .nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: right;
    overflow: hidden;
    gap: 2rem;
    list-style-type: none;
    padding: 0.75rem 2rem;

    &__item {
      a {
        font-size: 1.25rem;
        color: $system-text-color;
        font-weight: 500;
        text-shadow: 2px 2px 4px #000, 2px -2px 4px #000, -2px 2px 4px #000,
          -2px -2px 4px #000;
      }

      &:hover {
        font-weight: 700;
        transform: scale(1.1);
      }
    }

    .active {
      font-weight: 800;
    }
  }
}
